.dashboard {
    display: flex;
    height: 100vh;
    background: #f4f6f8;
}

.left-panel {
    width: 35%;
    overflow-y: auto;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.right-panel {
    width: 65%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-panel img {
    max-width: 100%;
    max-height: 90vh;
}